@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  padding     : 0;
  margin      : 0;
  box-sizing  : border-box;
  font-family : 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin : 0;
}

//COMMON CLASS
.container {
  max-width  : 1600px;
  box-shadow : 0 5px 10px #00000050;
  min-height : 90vh;
  margin     : 48px auto 0;

}

.px-24 {
  padding-inline : 24px;
}

.py-24 {
  padding-top    : 24px;
  padding-bottom : 24px;
}

.px-48 {
  padding-inline : 48px;
}

.flex {
  display : flex;
}

.fw-bold {
  font-weight : bold;
}

.left {
  width       : 350px;
  flex-shrink : 0;
}

.right {
  width : calc(100% - 350px);
}

.w-100 {
  width : 100%;
}

.h-50 {
  height : 50%;
}

.day {
  text-transform : uppercase;
  color          : $fontGray;
}

.item {
  font-weight    : bold;
  color          : #000;
  text-transform : capitalize;
}

.location {
  color          : $fontGreen;
  text-transform : capitalize;
}

.hour {
  height        : $h150;
  border-bottom : 1px solid $fontGray;
  font-size     : 24px;
  //padding-left  : 16px;
  //box-sizing    : border-box;
  position      : relative;

  &:last-child {
    border : 0;
  }

  div {
    padding-top : 12px;
  }

  &:after {
    position   : absolute;
    border-top : 1px solid #ccc;
    height     : 100%;
    top        : 50%;
    left       : 0;
    content    : "";
  }

  .half {
    text-align  : left;
    margin-left : auto;
    width       : 80px;
    padding-top : 12px;
  }

  .task-list {
    position : relative;
    width    : calc(100% / var(--width) - 24px);
    padding-left : 24px;
    float    : left;
    margin-left : var(--margin);
    margin-top : var(--top);
    display: var(--display);
    gap: 16px;

    div {
      position : relative;
      z-index  : 9;
    }

    &:after {
      border-left  : 8px solid $borderGreen;
      padding-left : 16px !important;
      height       : calc(80px * var(--height));
      top          : 0;
      z-index      : 9;
      content      : "";
      left         : 0;
      position     : absolute;

    }

    &:before {
      background : #dbdbdbad;
      position   : absolute;
      //width      : calc(100% / var(--width));
      width      : 100%;
      height     : calc($h75 * var(--height));
      top        : 0;
      left       : 0;
      content    : "";
      z-index    : 1;
    }
  }


}

.left {
  .hour {
    &:after {
      width : 50%;
      left  : auto;
      right : 0;
    }
  }
}

.right {
  .hour {
    &:after {
      width : 100%;
    }
  }
}





